Node Red flow.json
[
    {
        "id": "dd4ce45f.7987d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d6e8856.2318c8",
        "type": "ui_form",
        "z": "dd4ce45f.7987d8",
        "name": "",
        "label": "",
        "group": "5bd95a0.71c4ca8",
        "order": 1,
        "width": 10,
        "height": 2,
        "options": [
            {
                "label": "Enter Your Input",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "9a8b4ff0.cbcea"
            ]
        ]
    },
    {
        "id": "9a8b4ff0.cbcea",
        "type": "function",
        "z": "dd4ce45f.7987d8",
        "name": "Input",
        "func": "msg.payload=msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 258.25000762939453,
        "y": 365.00000190734863,
        "wires": [
            [
                "a3ab6ada.aa8e48",
                "f7130401.8783f8"
            ]
        ]
    },
    {
        "id": "54075ea8.712e4",
        "type": "function",
        "z": "dd4ce45f.7987d8",
        "name": "Output",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "bd755dd3.dcbd7",
                "5554f63f.0fc0e8"
            ]
        ]
    },
    {
        "id": "a3ab6ada.aa8e48",
        "type": "watson-conversation-v1",
        "z": "dd4ce45f.7987d8",
        "name": "Customer Helpdesk Chatbot",
        "workspaceid": "d32fcd96-f1b5-4b99-986c-ec6a10d93c3f",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9bba291e-ef7c-402e-80cf-7fd08d7c0a9f",
        "timeout": "",
        "optout-learning": false,
        "x": 523.75,
        "y": 175.00000190734863,
        "wires": [
            [
                "54075ea8.712e4",
                "5554f63f.0fc0e8"
            ]
        ]
    },
    {
        "id": "f7130401.8783f8",
        "type": "ui_text",
        "z": "dd4ce45f.7987d8",
        "group": "5bd95a0.71c4ca8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 408,
        "y": 466,
        "wires": [],
        "info": "_ "
    },
    {
        "id": "bd755dd3.dcbd7",
        "type": "ui_text",
        "z": "dd4ce45f.7987d8",
        "group": "5bd95a0.71c4ca8",
        "order": 3,
        "width": 10,
        "height": 5,
        "name": "",
        "label": "Bot : ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "5554f63f.0fc0e8",
        "type": "debug",
        "z": "dd4ce45f.7987d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "5bd95a0.71c4ca8",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "115cfa70.bb9b06",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "115cfa70.bb9b06",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Helpdesk Chatbot",
        "icon": "mi-videogame_asset",
        "disabled": false,
        "hidden": false
    }
]